<!-- TODO: make 3d a separate category -->
<div class="uv" data-locale="en-GB:English (GB),cy-GB:Cymraeg" data-config="" data-uri="<%= main_app.download_path(file_set) %>" data-collectionindex="0" data-manifestindex="0"
     data-sequenceindex="0" data-canvasindex="0" style="width:800px; height:600px; background-color: #000">
</div>

<script type="text/javascript" id="embedUV" src="/uv/lib/embed.js">
</script>
<script type="text/javascript">/* wordpress fix */</script>

