<br/>
<p>Upload your files to Imago using the drag-and-drop widget below. Please keep the following guidelines in mind:</p>
<ul>
  <li>2GB maximum limit per file.</li>
  <li>For each file you need to upload, please also upload an associated metadata file. Use <a href='metadata_template.txt'>this template</a> as a guide for your metadata.</li>
</ul>
<p>
  <% if user_signed_in? %>
      <script src="LINKTOBOXGOESHERE" type="text/javascript"></script>
  <% end %>
</p>
<br/>
<br/>
<br/>
<br/>
<br/>

