/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* overwrite background image on home page */
#home_header  {
    background-image: none;
}

/* overwrite footer */
#footer {
    clear: both;
    color: black;
    margin-top: 2em;
    padding: 1em;
    min-height: 4em;
    background-image: none;
    background: none;
}

/* overwrite header colors */
#masthead {
    background: #7D110C; /* Old browsers */
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #7D110C),
            color-stop(1, #7D110C)
    );
    background-image: -o-linear-gradient(bottom, #7D110C 0%, #7D110C 100%);
    background-image: -moz-linear-gradient(bottom, #7D110C 0%, #7D110C 100%);
    background-image: -webkit-linear-gradient(bottom, #7D110C 0%, #7D110C 100%);
    background-image: -ms-linear-gradient(bottom, #7D110C 0%, #7D110C 100%);
    background-image: linear-gradient(to bottom, #7D110C 0%, #7D110C 100%);
    min-height: 4em;
}
#masthead_controls {
    background-color: #E1D8B7;
    padding-top: 20px;
}
#masthead_controls .navbar {
    background-color: #E1D8B7;
}
#masthead_controls .navbar a:link {
    color: black;
    background-color: #E1D8B7;
}
#masthead_controls .navbar a:visited {
    color: black;
    background-color: #E1D8B7;
}
#masthead_controls .navbar a:hover {
    color: black;
    background-color: #E1D8B7;
}
#masthead_controls .navbar-default .navbar-nav > .active > a,
#masthead_controls .navbar-default .navbar-nav > .active > a:hover,
#masthead_controls .navbar-default .navbar-nav > .active > a:focus {
    background-color: #7D110C;
    color: white;
}

/* overwrite button colors */
.btn {
    background-color: #AEA79F
}

